#image-container {
    position: relative;
    display: inline-block;
}

#image-caption {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
}

#info-image {
    font-size: 10pt;
    color: gray;
}