{% extends 'base.html' %}
{% load humanize %}
{% load l10n %}

{% block content %}
    <h2>Menù di {{ menu.consumeDate | date:'l j F Y' }}</h2>
    <small>Ricevuto il {{ menu.sendDate | date:'d/m/Y' }} alle ore {{ menu.sendDate | date:'H:i' }}</small>

    <h4 class="mt-5">Primi</h4>
    <div class="list-group">
        {% if first %}
        {% for dish in first %}
            <a href="/web/course/{{ dish.course.id }}" class="list-group-item animation-list-first list-group-item-action d-flex justify-content-between align-items-center">
                {{ dish.course}}
                <span class="badge badge-primary badge-pill">{{ dish.price | floatformat:2 }} €</span>
            </a>
        {% endfor %}
        {% else %}
            <a class="alert alert-dark">
                    Non vi sono primi in questo menù
                </a>
        {% endif %}
    </div>
    <h4 class="mt-5">Secondi</h4>
    <div class="list-group">
        {% if second %}
        {% for dish in second %}
            <a href="/web/course/{{ dish.course.id }}" class="list-group-item animation-list-second list-group-item-action d-flex justify-content-between align-items-center">
                <span class="flex-grow-1">{{ dish.course }}</span>
                <span class="badge badge-primary badge-pill">{{ dish.price | floatformat:2 }} €</span>
            </a>
        {% endfor %}
        {% else %}
            <a class="alert alert-dark">
                    Non vi sono secondi in questo menù
                </a>
        {% endif %}
    </div>

    <h4 class="mt-5">Contorni</h4>
    <div class="list-group">
        {% if second %}
        {% for dish in side %}
            <a href="/web/course/{{ dish.course.id }}" class="list-group-item animation-list-side list-group-item-action d-flex justify-content-between align-items-center">
                {{ dish.course }}
                <span class="badge badge-primary badge-pill">{{ dish.price | floatformat:2 }} €</span>
            </a>
        {% endfor %}
        {% else %}
            <a class="alert alert-dark">
                    Non vi sono contorni in questo menù
                </a>
        {% endif %}
    </div>
    <script>
        function animationList(className){
            var items = document.getElementsByClassName(className)
            for(var i = 0; i < items.length; i ++){
                var item = toggleAnimation(i, items);
                setTimeout(item, i*30);
            }   
        }
        function toggleAnimation(i, items) {
                var animationItem = items[i];
                return function() {
                    animationItem.classList.toggle('enter');
                }
        } 
        animationList("animation-list-first")
        animationList("animation-list-second")
        animationList("animation-list-side")
    </script>
{% endblock %}