{% extends 'base.html' %}

{% block content %}
    <form method="POST">
        {% csrf_token %}
        <h4>La tua recensione su "{{ course }}"</h4>
        <div class="text-center my-3">
            <div id="scoreValue" class="text-center"></div>
            <div class="form-group d-inline-block" style="max-width:120px;">
                <input type="range" class="form-control-range" oninput="scoreChanged(this.value)" id="scoreRange" name="score" min="1" max="5" value="{{ form.score.value }}">
            </div>
        </div>
        <div class="form-group">
            <label for="text">Commento</label>
            <textarea class="form-control" id="text" rows="3" name="text">{{ form.text.value }}</textarea>
        </div>
        {% if is_edit %}
            <button type="submit" class="btn btn-primary" name="edit">Modifica</button>
            <button type="submit" class="btn btn-primary" name="remove">Rimuovi</button>
        {% else %}
            <button type="submit" class="btn btn-primary" name="add">Invia</button>
        {% endif %}
    </form>

    <script>
        function scoreChanged(value) {
            content = "";
            for (var i = 0; i < value; i++) {
                content += '<i class="material-icons">star</i>';
            }
            for (var i = value; i < 5; i++) {
                content += '<i class="material-icons">star_border</i>';
            }
            document.getElementById("scoreValue").innerHTML = content;
        }
        scoreChanged(document.getElementById("scoreRange").value);
    </script>
{% endblock %}